<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% for data in data %}
          <img src="{{data.image.url}}" class="img-circle elevation-2" alt="User Image">
          {% endfor %}
        </div>
        <div class="info">
          <a href="#" class="d-block">{{username}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="{% url 'index' %}"><i class="far fa-circle nav-icon"></i>Home</a>
            </li>
            <br>
            {% for data in user_chats %}
            <li class="nav-item">
                <a href = "{% url 'single-chat-view' data.senderId %}" class="nav-link"><i class="fas fa-circle nav-icon"></i>{{data.senderId}}</a>
            </li>
          {% endfor %}
          <br>
          <li class="nav-item">
            <a href="{% url 'user-profile' %}"><i class="far fa-circle nav-icon"></i>Back to profile</a>
          </li>
          <br>
          <li class="nav-item">
            <a href="{% url 'logout' %}"><i class="far fa-circle nav-icon"></i>Logout</a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>